<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251845818002-he3ra020re141v8k20gmce024h9ua1l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251845818002-he3ra020re141v8k20gmce024h9ua1l3</string>
	<key>API_KEY</key>
	<string>AIzaSyA4uoQ4zkKJdrlD_DFKUoSkrm966yl9KZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>251845818002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arm.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>armoire-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>armoire-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251845818002:ios:86a79c1728c7f09d94584b</string>
</dict>
</plist>